language: R
warnings_are_errors: true
sudo: true
cache: packages
latex: false # TODO: Enable after https://github.com/travis-ci/travis-build/pull/1072

matrix:
    allow_failures: # temporarily enabled. TODO: disable
        -os: osx
    include:
        - os: linux
          r: release
          dist: trusty # 14.04
          env: R_CODECOV=true
        - os: linux
          r: devel
          dist: trusty
        - os: osx
          r: release
          #before_install: ''
          #disable_homebrew: true
          #- os: osx
          #r: devel
          #before_install: ''
          #disable_homebrew: true

notifications:
  email:
    on_success: change
    on_failure: change

#before_script
#- R -q -e 'devtools::install_github("ropenscilabs/tic"); tic::prepare_all_stages()'

r_packages:
    - devtools
r_github_packages:
      - jimhester/covr

#after_success
after_success:
    - Rscript -e "covr::codecov(line_exclusions = list('R/distmat.R',",\
        "'src/vendor/sqlite3/sqlite3.c')"
    #- R -q -e 'tic::after_success()'
      #- Rscript -e "source ('https://install-github.me/MangoTheCat/goodpractice')"
      #- Rscript -e 'library(goodpractice);gp(checks=all_checks()[grepl("(rcmdcheck|covr)",all_checks())])'
      #- Rscript -e 'library(goodpractice);gp(checks=all_checks())'

